body {
  margin: 0px;
  background-image: url('../images/seigaiha.png');
}

.header {
  position: relative;
  height: 125px;
  width: 100%;
  opacity: .9;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.5);*/
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding-left: 25%;
  padding-right: 12px;
  padding-top: 24px;
  background-image: url('../images/seigaiha.png');
}

.header a {
  color: rgb(0, 0, 0);
  padding-right: 12px;
}

.header a:active, .header a:hover {
  color: rgb(255, 0, 0);
}

.blog {
  position: relative;
  width: 100%;
  min-height: 750px;
  padding: 12px;
  padding-left: 25%;
  background-color: rgb(255, 255, 255);
}

.item {
  position: relative;
  height: 100px;
  width: 75%;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  position: relative;
  height: 100px;
  width: 100%;
  opacity: .9;
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding-left: 25%;
  padding-right: 12px;
  padding-top: 18px;
  /*border-top: 1px solid rgba(0, 0, 0, 0.5);*/
  background-image: url('../images/seigaiha.png');
}

.footer > p {
  position: relative;
  top: 25%;
  margin: 0px;
  width: 50%;
  text-align: center;
  padding: 0px;
}

.footer > p > a {
  color: rgb(0, 0, 0);
  font-weight: 200;
  font-size: 40px;
  margin: 12px;
}

.footer > p > a:active, .footer > p > a:hover {
  color: rgb(255, 0, 0);
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 4px;
}
h2 {
  font-size: 24px;
  font-weight: 200;
  margin: 4px;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 4px;
}
h4 {
  font-size: 18px;
  font-weight: 200;
  margin: 4px;
}
p {
  font-size: 18px;
  font-weight: 200;
  margin: 4px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:active, a:hover {
  color: rgb(255, 0, 0);
}
