<div class="tm-navbar-container" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 300">

    <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">

        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left">
                <div>
                    <ul class="uk-navbar-nav">
                        {% if page.url == "/index.html" %}
                            <li class="uk-active"><a class="tm-navbar-item" href="#">Blog</a></li>
                        {% elsif page.url != "/info.html" %}
                            <li class="uk-active"><a class="tm-navbar-item" href="/index.html">Blog</a></li>
                        {% else %}
                            <li><a class="tm-navbar-item" href="/index.html">Blog</a></li>
                        {% endif %}

                        {% if page.url == "/info.html" %}
                            <li class="uk-active"><a class="tm-navbar-item" href="#">Info</a></li>
                        {% else %}
                            <li><a class="tm-navbar-item" href="/info.html">Info</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <a class="uk-navbar-item uk-logo" href="#">
                <img uk-svg src="/assets/img/penguin.svg" style="width:56px; height: 56px;">
            </a>

            <div class="uk-navbar-center-right">
                <div>
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="https://github.com/katabaticwind" uk-icon="icon: github; ratio: 1.5"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/SwaneyColin?lang=en" uk-icon="icon: twitter; ratio: 1.5"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </nav>

</div>
