@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Light-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Reg-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Reg-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Sbold-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-600.woff2') format('woff2'),
         url('../fonts/montserrat-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/roboto-mono-regular.woff2') format('woff2'),
         url('../fonts/roboto-mono-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


html {
  font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  /* 2xlarge-font-size: 38px */
  /* xlarge-font-size: 30px */
  /* large-font-size: 24px */
  /* medium-font-size: 20px */
  /* small-font-size: 14px */
  /* emphasis-color: #222; */
}
code {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}
pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  padding: 25px;
  /* background: @global-muted-background; */
  background: #f8f8f8;
  border-width: 0;
  border-radius: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
/* @base-heading-font-weight:                      300; */











html {
  font-family: ProximaNova, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  background: #fff;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
/* p {
  font-weight: 300;
} */
/* li {
  font-weight: 300;
} */
li > strong {
  font-weight: 700;
}
em {
  color: #666;
}
a, a:hover {
  color: rgb(40,140,240);
}
blockquote {
  font-size: 100%;
  font-weight: lighter;
  font-style: normal;
  color: rgba(0, 0, 0, .75);
  border-left: 4px solid rgb(50, 50, 50);
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: 0;
  line-height: 200%;
  @media (max-width: 942px) {
    margin-left: 0;
  }
  p {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}


/* UIKit Customization */
.uk-container-xsmall {
  max-width: 450px;
}
.uk-container-small {
  max-width: 700px;
}
.uk-container-large {
  max-width: 1200px;
}
.uk-container-expand {
  max-width: none;
}
.uk-badge {
  background-color: rgba(252, 99, 100, 0.25);
}
.uk-subnav > .uk-active > a {
  border-radius: 3px;
}
.uk-subnav-pill > .uk-active > a {
  background: rgb(252, 99, 100);
}
.uk-subnav-pill > li > a:hover {
  border-radius: 3px;
}
.uk-article > h2::before {
  color: rgba(153, 153, 153, 0.2);
  /* content: "#"; */
  display: block;
  height: 33px;
  margin-left: -25px;
  position: absolute;
  width: 25px;
}
.uk-article > h3::before {
  color: rgba(153, 153, 153, 0.2);
  /* content: "##"; */
  display: block;
  height: 33px;
  margin-left: -40px;
  position: absolute;
  width: 25px;
}
.uk-article > h4::before {
  color: rgba(153, 153, 153, 0.2);
  /* content: "###"; */
  display: block;
  height: 33px;
  margin-left: -50px;
  position: absolute;
  width: 25px;
}
.uk-article > p > img {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.uk-article-title {
  font-family: 'Fjalla One', sans-serif;
}
.uk-navbar-nav > li > a.tm-navbar-item {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.25rem;
}
/* :not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 10pt;
	padding: .2em;
	color: rgb(40,140,240);
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: inline;
	white-space: normal;
} */
:not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
    font-family: 'Roboto Mono',monospace;
    font-size: 13px;
    color: #f0506e;
    white-space: nowrap;
    padding: 2px 6px;
    background: #f8f8f8;
}


/* Custom Theme */
.tm-nav > li.uk-active > a {
  position: relative;
}
.tm-nav > li.uk-active > a::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -25px;
  width: 15px;
  border-top: 1px solid rgb(252, 99, 100);
}
.tm-navbar-container {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.tm-navbar-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.25rem;
  /* color: rgb(51, 51, 51); */
}
.tm-heading {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.00em;
}
.tm-article-title > a::before {
  color: rgba(153, 153, 153, 0.2);
  /* content: "#"; */
  display: block;
  height: 33px;
  margin-left: -35px;
  position: absolute;
  width: 25px;
}
#footer-url {
  font-family: 'Indie Flower', cursive;
  font-size: 1.25rem;
  text-transform: none;
  color: rgb(51, 51, 51);
}
