---
layout: default
title: Info
---
<div class="uk-container uk-container-small uk-position-relative uk-height-viewport">

    <article id="a1" class="uk-article">

        <div uk-grid>

            <div class="uk-width-1-2">
                <h1 class="uk-article-title tm-article-title uk-margin-small-bottom">Colin Swaney</h1>
                <p class="uk-article-meta tm-article-meta">PhD Finance / University of Iowa / 2018</p>
            </div>
            <div class="uk-width-1-2">
                <!-- <img></img> -->
            </div>

        </div>

        <div class="uk-grid-small uk-child-width-auto uk-margin-medium-bottom" uk-grid>
            <div>
                <a class="uk-button uk-button-text" href="#">Contact Me</a>
            </div>
            <div>
                <a class="uk-button uk-button-text" href="#">Full Resumé</a>
            </div>
            <div>
                <a class="uk-button uk-button-text" href="https://github.com/cswaney">Github Repo</a>
            </div>
        </div>

        <div>

            <!-- <p class="uk-text-lead tm-text-lead uk-text-muted">"I don't like this cobbling sort of business—I don't like it at all; it's undignified; it's not my place. Let tinkers' brats do tinkerings; we are their betters." - Moby Dick</p> -->

            <div>
                {{ content }}
            </div>

        </div>

    </article>

</div>
